In [3]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.14.0
  latest version: 22.9.0

Please update conda by running

    $ conda update -n base -c defaults conda



## Package Plan ##

  environment location: /Users/michaelwalter/opt/anaconda3

  added / updated specs:
    - gmaps


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ca-certificates-2022.9.24  |       h033912b_0         150 KB  conda-forge
    certifi-2022.9.24          |     pyhd8ed1ab_0         155 KB  conda-forge
    conda-22.9.0               |   py39h6e9494a_1         969 KB  conda-forge
    openssl-1.1.1q             |       hfe4f2af_0         1.9 MB  conda-forge
    python_abi-3.9             |           2_cp39           4 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         3.1 MB

The following NEW packages will be INSTALLED:

  geojson            conda-forge/noarch::geojson-2.5.0-py_0
  gmaps              conda-forge/noarch::gmaps-0.9.0-py_0
  python_abi         conda-forge/osx-64::python_abi-3.9-2_cp39

The following packages will be UPDATED:

  ca-certificates    pkgs/main::ca-certificates-2022.07.19~ --> conda-forge::ca-certificates-2022.9.24-h033912b_0
  certifi            pkgs/main/osx-64::certifi-2022.6.15-p~ --> conda-forge/noarch::certifi-2022.9.24-pyhd8ed1ab_0
  conda              pkgs/main::conda-4.14.0-py39hecd8cb5_0 --> conda-forge::conda-22.9.0-py39h6e9494a_1

The following packages will be SUPERSEDED by a higher-priority channel:

  openssl              pkgs/main::openssl-1.1.1q-hca72f7f_0 --> conda-forge::openssl-1.1.1q-hfe4f2af_0



Downloading and Extracting Packages
ca-certificates-2022 | 150 KB    | ##################################### | 100%
python_abi-3.9       | 4 KB      | ##################################### | 100%
openssl-1.1.1q       | 1.9 MB    | ##################################### | 100%
conda-22.9.0         | 969 KB    | ##################################### | 100%
certifi-2022.9.24    | 155 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Retrieving notices: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [5]:
# Import the dependencies

import pandas as pd
import gmaps
import requests

# Import the API key.

from config import g_key

In [7]:
# Store the CSV you saved created in part one into a Dataframe

city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Poltavka,RU,2022-09-29 16:19:34,54.3663,71.7632,29.07,77,53,6.98
1,1,Mayya,RU,2022-09-29 16:19:34,61.7333,130.2811,29.52,92,46,2.98
2,2,Tiksi,RU,2022-09-29 16:19:36,71.6872,128.8694,18.91,93,99,5.66
3,3,Nikolskoye,RU,2022-09-29 16:19:37,59.7035,30.7861,46.80,93,100,4.90
4,4,Butaritari,KI,2022-09-29 16:19:39,3.0707,172.7902,82.38,74,97,18.30

In [9]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [12]:
# Configure gmaps to use your Google API key. 

gmaps.configure(api_key=g_key)

In [25]:
# Heatmap of temperature

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

max_temp = city_data_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)

# 6. Call the figure to plot the data. 

fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
# Heatmap of Humidity

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

humidity = city_data_df["Humidity"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)

# 6. Call the figure to plot the data. 

fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of Cloudiness

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

clouds = city_data_df["Cloudiness"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)

# 6. Call the figure to plot the data. 

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of Wind Speed

# Get the latitude and longitude

locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature

wind = city_data_df["Wind Speed"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                dissipating=False, max_intensity=300, point_radius=4)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)

# 6. Call the figure to plot the data. 

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Ask the customer to add a minimum and maximum temperature value.

min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [31]:
# Filter teh dataset to find the cities that fit the criteria

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Butaritari,KI,2022-09-29 16:19:39,3.0707,172.7902,82.38,74,97,18.30
5,5,Atuona,PF,2022-09-29 16:15:20,-9.8000,-139.0333,76.14,68,15,22.50
7,7,Touros,BR,2022-09-29 16:19:41,-5.1989,-35.4608,84.38,57,8,16.42
27,27,Itarema,BR,2022-09-29 16:15:21,-2.9248,-39.9167,87.96,54,93,16.78
29,29,Guanare,VE,2022-09-29 16:19:55,9.0418,-69.7421,87.30,64,36,3.13
32,32,Bathsheba,BB,2022-09-29 16:19:57,13.2167,-59.5167,86.61,95,75,16.11
33,33,Ponnani,IN,2022-09-29 16:19:58,10.7670,75.9252,76.32,87,100,5.79
35,35,Kapaa,US,2022-09-29 16:16:11,22.0752,-159.3190,79.12,82,40,11.50
40,40,Monrovia,LR,2022-09-29 16:20:05,6.3005,-10.7969,78.57,91,100,7.00
42,42,Santa Marta,CO,2022-09-29 16:20:06,11.2408,-74.1990,87.85,70,40,13.80

In [32]:
preferred_cities_df.count()

City_ID       206
City          206
Country       205
Date          206
Lat           206
Lng           206
Max Temp      206
Humidity      206
Cloudiness    206
Wind Speed    206
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates. 

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""

hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
4    Butaritari      KI     82.38   3.0707  172.7902
5        Atuona      PF     76.14  -9.8000 -139.0333
7        Touros      BR     84.38  -5.1989  -35.4608
27      Itarema      BR     87.96  -2.9248  -39.9167
29      Guanare      VE     87.30   9.0418  -69.7421
32    Bathsheba      BB     86.61  13.2167  -59.5167
33      Ponnani      IN     76.32  10.7670   75.9252
35        Kapaa      US     79.12  22.0752 -159.3190
40     Monrovia      LR     78.57   6.3005  -10.7969
42  Santa Marta      CO     87.85  11.2408  -74.1990

In [38]:
# Set parameters to search for a hotel

params = {
    
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

In [42]:
# Iterate through the DataFrame

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude adn longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search term: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head()

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Butaritari,KI,82.38,3.0707,172.7902,Isles Sunset Lodge
5,Atuona,PF,76.14,-9.8000,-139.0333,Villa Enata
7,Touros,BR,84.38,-5.1989,-35.4608,INN NEW HORIZON
27,Itarema,BR,87.96,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
29,Guanare,VE,87.30,9.0418,-69.7421,Nuevo Hotel Coromoto

In [44]:
# Add a heatmap of temperature for the vacation spots

locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature

max_temp = hotel_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 6. Call the figure to plot the data. 

fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
info_box_template = """

<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>

"""

# Store the DataFrame Row. 

hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [50]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city

locations = hotel_df[["Lat", "Lng"]]

# Get the maximum temperature

max_temp = hotel_df["Max Temp"]

# 3. Assign the figure variable to the gmaps.figure() attribute. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
                                dissipating=False, max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 5. Add the heatmap layer.

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 6. Call the figure to plot the data. 

fig

Figure(layout=FigureLayout(height='420px'))